body {
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    padding: 0;
    background-color: #f4e9dc;
    color: #3b2c20;
}

nav {
    background-color: #6f4e37;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 80px 20px;
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    color: #8c5a3f;
}


.button {
    display: inline-block;
    background-color: #8c5a3f;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.button:hover {
    background-color: #6f4e37;
}
