/* NAV BAR */
*{
margin: 0;
padding: 0;
box-sizing: boarder-box;
}

header {
  background: rgba(0, 0, 0, 0.85);
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #222;
}

.logo {
 max-width: 150px;
 align-content: left;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  color: #bbb;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-size: 0.95rem;
}

nav a:hover {
  color: #00ffd5;
}

/* HERO CONTENT */

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hero-wrapper {
  width: 100%;
}

.hero-slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* FIXED BG IMG */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('background.jpeg') no-repeat center center/cover;
  z-index: -1;
  filter: brightness(0.5);
}

/* ALLOW TO SCROLL CONTENT */
.content {
  position: relative;
  z-index: 1;
}

/* HERO */
.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  color: #fff;
  flex-wrap: wrap;
}

.hero-section img {
  width: 400px;
  max-width: 200%;
  height: auto;
}

.text-box {
  max-width: 500px;
  padding: 1.5rem;
  border-radius: 12px;
}

.text-box h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffdca8;
}

.text-box p {
  font-size: 1rem;
  line-height: 1.5;
}


footer {
  text-align: center;
  padding: 1.5rem 1rem;
  background: #111;
  border-top: 1px solid #222;
  font-size: 0.85rem;
  color: #777;
  margin-top: 2rem;
}
